*.tlog
*.layout
*.sdf
*.opendb
*.idb
*.obj
*.o
*.a
*.dep
*.d
*.log
*.vcxproj.user
*.pdb
*.pch
*.obj*
*.ipch
*.suo
*.exe
*.ilk
*.lib
*.vcxproj
*.vcxproj.filters
*.recipe
*.sln
*.code-workspace
.vscode/*
.vs/*
PSXToolchain/GameSRC*
PSXToolchain/Overlay*
PSXToolchain/PsyQ/*
PSXToolchain/mipsel-unknown-elf/*
PSXToolchain/CDSrc/0_CD_DATA/*
PSXToolchain/CDSrc/REDRIVER2.bin
PSXToolchain/CDSrc/REDRIVER2.cue
PSXToolchain/CDSrc/*.txt
src_rebuild/dependencies/*
src_rebuild/.vs/*
src_rebuild/bin/*
src_rebuild/obj/*
src_rebuild/*.make
src_rebuild/Makefile
