*.tlog
*.layout
*.sdf
*.opendb
*.idb
*.obj
*.log
*.vcxproj.user
*.pdb
*.pch
*.obj*
*.ipch
*.suo
*.exe
*.ilk
*.code-workspace
.vscode/*
_OLD/
d1_xm_fix/*
dump_music/*
GAME/*
symdump-decompile/*
PSX_BINS/*
PSX_BINS_ITALIAN/*
psyq/*
TDR/*
xmplayer/*
game_rebuild/*
src_rebuild/dependencies/*
# src_rebuild/EMULATOR/*
src_rebuild/.vs/*
src_rebuild/bin/*
src_rebuild/obj/*
src_rebuild/*.make
src_rebuild/Makefile